<!--begin::Modal-->
<div class="modal fade" id="{{ contact_modal_id }}" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Contact Information
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>This application is written by a member of semi-private anime community site
          known commonly as <a href="http://hi10anime.com" target="_blank">Hi10</a> or 
          <a href="http://hi10anime.com" target="_blank">Hi10Anime.</a><br/>
          However, if you want to contact me regarding this web-application, you can catch
          me on discord by searching for username 
          <span class="enclose-light-dark">zeust</span> or you can just chat to anyone there
          anyway for the heck of it.
        </p>
        <hr>
        <p>You can use the the following <a href="https://discord.gg/U8rRVEs" 
          target="_blank">invite link <i class="socicon socicon-discord"></i></a>&nbsp;
          to join Hi10 Discord server, if you haven't already.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary m-btn--square" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--end::Modal-->