<!--begin::Modal-->
<div class="modal fade" id="{{ privacy_modal_id }}" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Privacy Policy
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>In no way, information of users visiting the application is being stored. You are
          free to avail its services.
        </p>
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary m-btn--square" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--end::Modal-->