<!--begin::Modal-->
<div class="modal fade" id="{{ scripts_modal_id }}" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Help on Filters &amp; Scripts
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>You can use the avscript prepared for your file that would be translated to
          its equivalent in ffmpeg. Avscripts are actually run on avisynth platform which
          in detail is fed into an encoder like x264, x265 etc. Avisynth allows users to
          apply filters on videos upon encoding. You can darken the character lines by using
          appropriate filters, for example.<hr/>
          Translating the avscript to ffmpeg has its limitations, however. ffmpeg can apply filters
          but they are strictly dependant on the build of ffmpeg. I can, let's say, compile
          my own ffmeg binary with some filter that were not present in official ffmpeg build.
          Compiling your own ffmpeg build can be tricky, if you are new to it. Hence, it's advisable
          not to use complex filters here as they won't be parsed &amp; translated by the parser
          I have written. As the time goes by and ffmpeg's coders keep on adding filters 
          compatibility, there might be a time when you can get away by inserting complex filters
          as well.<hr/>
          Consider the following sample for the avscript that I generally use.
          <div class="bash-command">
            source = "geki12"<br>
            video = FFVideoSource(source + ".mkv")<br>
            audio = FFAudioSource(source + ".mkv")<br>
            AudioDub(video, audio)<br>
            Trim(0, 2878) ++ Trim(5036, 30809) ++ Trim(32967, 34046)<br>
            ##>frame_rate=23.976<br>
          </div>
          <span style="font-size: 12px;"><span class="mspace">geki12</span> is the filename without extension.
            <br><span class="mspace">.mkv</span> is the extension of the file. 
            <br><span class="mspace">geki12.mkv</span> will be fed to ffmpeg.
            <br><span class="mspace">Trim</span> command in avscript will invoke ffmpeg to cut file depending upon frames in avscript.
            <br>statements starting with <span class="mspace">##&gt;</span> accepts custom options to feed ffmpeg. 
            <br>statements starting with <span class="mspace">##&gt;</span> are considered as commends in avscript.
          </span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary m-btn--square" data-dismiss="modal">
          Close
        </button>
        <a href="https://mediaarea.net/en/MediaInfo/Download" target="_blank">
          <button type="button" class="btn btn-outline-primary m-btn--square">
            Download MediaInfo
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<!--end::Modal-->